<div class='addon-demo-api'>
  <h1>Hooks</h1>
  <p>
    This addon has been optimized for use with <i>ember-hook</i>. You can set a hook name on each component. This will
    allow you to access the internal components content for testing.
  </p>
  <div class='addon-demo-hooks'>
    <div class='table'>
      <div class='header'>Description</div>
      <div class='header'>Name</div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-tabs</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>Top level hook</div>
        <div>A specific tab</div>
        <div>Outlet where the content of the tab will be inserted</div>
      </div>
      <div class='row'>
        <div>-tabs</div>
        <div>-tabs-[index]</div>
        <div>-tabs-content</div>
      </div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-tab</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>A tab unselected/selected</div>
      </div>
      <div class='row'>
        <div>-tab[-selected]</div>
      </div>
    </div>
  </div>
</div>