$frost-detail-tab-actions-button-bg: $frost-color-white;
$frost-detail-tab-actions-button-shadow: $frost-color-grey-6;
$frost-detail-tab-actions-button-icon: $frost-color-grey-4;
$frost-detail-tab-actions-button-icon-selected: $frost-color-blue-1;
$frost-detail-tab-actions-button-icon-active: $frost-color-blue-1;
$tab-action-box-shadow-1: rgba(0, 0, 0, .2);
$tab-action-box-shadow-2: rgba(0, 0, 0, .19);

.frost-detail-tab-actions {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: calc(100% - 20px);
  margin: 10px 0 10px auto;
  padding: 10px;
  border-left: 1px solid transparent;
  border-radius: 15px 0 0 15px;
  background-color: $frost-color-white;
  box-shadow: 0 4px 8px 0 $tab-action-box-shadow-1, 0 6px 20px 0 $tab-action-box-shadow-2;
}

.frost-detail-tab-actions-button {
  .frost-icon {
    width: 30px;
    height: 30px;
    color: $frost-color-blue-1;
  }
  color: $frost-color-blue-1;
  font-size: 13px;
}

.frost-detail-tab-actions-button + .frost-detail-tab-actions-button {
  margin-top: 20px;
}
