.frost-tab {
  padding-bottom: 2px;
  border-bottom: 5px solid transparent;
  cursor: default;

  .tab {
    &.active {
      border-bottom: 5px solid $frost-color-blue-1;

      .text {
        color: $frost-color-grey-2;
      }
    }
  }
}
