$frost-detail-tab-active-border: $frost-color-grey-1;
$frost-detail-tab-active-text: $frost-color-grey-1;
$frost-detail-tab-inactive: $frost-color-grey-5;

.frost-detail-subtabs {
  margin: 20px 0 0 20px;
}
