@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.frost-tabs {
  .tab-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .tab {
      padding-bottom: 2px;
      border-bottom: 5px solid transparent;
      cursor: default;

      &.active {
        border-bottom: 5px solid $frost-color-blue-1;

        .text {
          color: $frost-color-grey-2;
        }
      }
    }
  }

  > .content {
    &.hidden {
      display: none;
    }
  }
}
