.ember-frost-demo {
  .dummy-notification-container {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 999;
    width: 80%;
    max-width: 400px;
    margin: auto;
  }
  pre {
    font-size: 80%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
  }
  code {
    font-size: 80%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
  }
  #content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
  }
  .frost-tabs.iframe {
    .navigation {
      display: none;
    }
  }
}
