<div class='tab' data-test={{hook (concat hook 'frost-tab' (if isSelected '-selected' '')) }}>
  {{frost-button
    class=(concat 'tab' (if isSelected ' active'))
    disabled=disabled
    text=text
    onClick=(action 'change')}}
</div>

{{#if isSelected}}
  {{to-elsewhere
    named=targetOutlet
    send=(hash
      content=content)
  }}
{{/if}}