{{!-- <div class='{{css}}-subtabs'> --}}
  {{#each _subtabs key='id' as |tab|}}
    {{~ frost-detail-subtab
      hook=(concat hookPrefix '-subtab')
      icon=tab.icon
      label=tab.label
      pack=tab.pack
      onSelect=onSelect
    ~}}
  {{/each}}
{{!-- </div> --}}
