{{! Template for the frost-detail-subtab component }}
<div class='{{css}}-selector'>
  {{frost-icon
    hook=(concat hookPrefix '-icon')
    icon=icon
    pack=pack}}
  <div class='{{css}}-label'>
    {{label}}
  </div>
</div>
