{{!-- <div class='{{css}}-subtabs'> --}}
  {{#each _subtabs key='id' as |tab|}}
    {{~ frost-detail-subtab
      hook=(concat hookPrefix '-subtab-' tab.id)
      subtab=tab
      selectedSubtab=_selectedSubtab
      onSelect=onSelect
    ~}}
  {{/each}}
{{!-- </div> --}}
