<div class="tab {{if disabled 'disabled'}}"
  data-test={{hook (concat hook '-tab') selected=isSelected}}
>
  {{frost-button
    class=(concat 'tab' (if isSelected ' active'))
    disabled=disabled
    hook=(concat hook '-tabBtn')
    text=text
    onClick=(action 'change')
  }}
</div>

{{#if isSelected}}
  {{to-elsewhere
    named=targetOutlet
    send=(hash
      contentClass=contentClass
      content=content
    )
  }}
{{/if}}
