<div class='ember-frost-demo'>
  {{frost-tabs
    selectedTab=selectedTab
    onChange=(action 'onChange')
    tabs=(array
      (component 'frost-tab'
        id='template'
        text='Template'
        content=(component 'tab-content' text='template'))
      (component 'frost-tab'
        id='controller'
        text='Controller'
        content=(component 'tab-content' text='controller'))
      (component 'frost-tab'
        id='route'
        text='Route'
        content=(component 'tab-content' text='route'))
      (component 'frost-tab'
        id='css'
        text='CSS'
        disabled=true
        content=(component 'tab-content' text='CSS'))
    )
  }}
</div>
